body {
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	background: #0d0d0d;
	display: flex;
}
.container {
	width: 500px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

button {
	cursor: pointer;
}
